In [2]:
import pandas as pd
import numpy as np

In [5]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [6]:
df = pd.DataFrame(data)

In [10]:
df.groupby('Company').std()

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [16]:
df.groupby('Company').describe().transpose()['FB']

Sales  count      2.000000
       mean     296.500000
       std       75.660426
       min      243.000000
       25%      269.750000
       50%      296.500000
       75%      323.250000
       max      350.000000
Name: FB, dtype: float64