In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [18]:
import string
from nltk.corpus import stopwords

In [2]:
df = pd.read_csv('Train.csv')
df1 = pd.read_csv('Valid.csv')
df2 = pd.read_csv('Test.csv')

In [3]:
df = pd.concat((df,df1,df2),axis=0)

In [4]:
df.head()

                                                text  label
0  I grew up (b. 1965) watching and loving the Th...      0
1  When I put this movie in my DVD player, and sa...      0
2  Why do people who do not know what a particula...      0
3  Even though I have great interest in Biblical ...      0
4  Im a die hard Dads Army fan and nothing will e...      1

In [61]:
def clean_text(msg):
    msg=msg.lower()
    msg = msg.translate(str.maketrans('','',string.punctuation))
#     return msg.split()
    cleaned_text = []
    for words in msg.split():
        if words not in stopwords.words('english'):
            cleaned_text.append(words)
    return cleaned_text

In [63]:
df['text'][:100].apply(clean_text)

0     [grew, b, 1965, watching, loving, thunderbirds...
1     [put, movie, dvd, player, sat, coke, chips, ex...
2     [people, know, particular, time, past, like, f...
3     [even, though, great, interest, biblical, movi...
4     [im, die, hard, dads, army, fan, nothing, ever...
                            ...
95    [saw, movie, first, came, france, hometown, 54...
96    [released, december, 1957, sayonara, went, ear...
97    [war, inc, corporations, take, war, future, us...
98    [freaking, problem, nothing, better, sit, fat,...
99    [dick, jane, harper, jim, carrey, t√©a, leoni, ...
Name: text, Length: 100, dtype: object

In [59]:
df.head()

                                                text  label
0  i grew up b 1965 watching and loving the thund...      0
1  when i put this movie in my dvd player and sat...      0
2  why do people who do not know what a particula...      0
3  even though i have great interest in biblical ...      0
4  im a die hard dads army fan and nothing will e...      1